body{
    background-color: #ffffff;
    color: black;
}

.offer_title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.center_div{
    background-color:#4d5cb1;
    width:500px;
    max-height: 600px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border-radius:5px;
    color:#ffffff;
    margin-top: 4rem;
}
#bouton{
    background-color:#212c31;
    color: #ffffff;
}

.message{
   margin-top: 3rem;
}

.offer_container{
    background: #eaeaea;
    color: black;
    border-radius: 3px;
}

.offer_container:hover{
    background: #f9f6f6;
}
.offer_container_link:hover{
    color: black;
    text-decoration: none;
}
.btn-delete-offer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.footer{
    margin-top:8rem;
    color:black;
}
#bouton:hover{
    background-color:#74586f;
}
@media only screen and (min-width:300px) and (max-width:450px){
    .center_div{width:320px;height:429px;}
    .footer{margin-top:3rem;}
}