body{
    background-color: #ffffff;
    color: black;
}

.center_div{
    background-color:#4d5cb1;
    width:500px;
    max-height: 600px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border-radius:5px;
    color:#ffffff;
    margin-top: 4rem;
}
#bouton{
    background-color:#212c31;
    color: #ffffff;
}

.footer{
    margin-top:8rem;
    color:black;
}
#bouton:hover{
    background-color:#74586f;
}
@media only screen and (min-width:300px) and (max-width:450px){
    .center_div{width:320px;height:350px;}
    .footer{margin-top:3rem;}
}