<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="fr">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="fr">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="fr">  <!--<![endif]-->
    <head>

        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>Inscription - FoodSharing</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="" type="image/gif" sizes="16x16">
        <!-- Styles -->

        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/HomeStyle.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
            <nav class="navbar navbar-light" style="background-color:#4d5cb1;color:white;">
                <a class="navbar-brand" href="/" style="color:white;">FoodSharing</a>
            </nav>

            <div class="container" style="top:0;bottom:0;left:0;right:0;margin:auto;">
                <div class="col-md-12">
				<h2 class="text-center" style="padding-top: 2rem;"><strong>Inscription</strong><br></h2><br>
				<div>
					<!-- Start form -->
		                    <form id="form-subscribe">
                                <div class="alert alert-danger invalid-password" role="alert" style="display: none;">
                                 Le mot de passe et la confirmation de mot de passe ne correspondent pas!
                                </div>
                                <div class="form-group">
		                        <label for="nom">Nom</label>
		                        <input type="text" class="form-control" id="nom" name="nom" aria-describedby="emailHelp" placeholder="Entrez votre nom" autocomplete="off" requiered>
		                      </div>
                                <div class="form-group">
		                        <label for="prenom">Prénom</label>
		                        <input type="text" class="form-control" id="prenom" name="prenom" aria-describedby="emailHelp" placeholder="Entrez votre prénom" autocomplete="off" requiered>
		                      </div>
		                      <div class="form-group">
		                        <label for="usern">Adresse mail</label>
		                        <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp" placeholder="Entrez votre adresse mail" autocomplete="off" requiered>
		                      </div>
		                      <div class="form-group">
		                        <label for="Password1">Mot de passe </label>
		                        <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe"  autocomplete="off" requiered>
		                      </div>
                                <div class="form-group">
		                        <label for="Password1">Confirmation Mot de passe</label>
		                        <input type="password" class="form-control" name="confpassword" id="confpassword" placeholder="Confirmez le mot de passe"  autocomplete="off" requiered>
		                      </div>
                                <div class="form-group" style="padding-top: 1rem;">
		                        <button id="bouton" type="button" class="btn btn-outline-light btn-lg btn-block bouton-inscript">Soumettre</button>
		                      </div>

		                    </form>
                    </div>
					<!-- End form -->
				</div>
				<div class="text-center footer">
		            <p>© {{ year }} FoodSharing Tous droits réservés.</p>
		        </div>
			</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/MainJS.js"></script>
        <script>
            $(document).ready(()=>{
                $(".bouton-inscript").click(()=>{
                    add_user();
                });
            });
        </script>
    </body>
